footer{  
  width: 100%;
   background-color:#da582f;

}

footer > img{
  height: 200px;
  width: auto;

}

.footer_content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;

}

.footer_list{
  display: flex;
  flex-direction: column;
}


